<h2>Manutenção de Clientes</h2>

<ul>
    <li *ngFor="let cliente of clientes">
        <span (click)="editar(cliente)">{{cliente.cpf}} - {{cliente.nome}} </span> <span (click)="excluir(cliente.id)">x</span>
    </li>
</ul>

<table mat-table [dataSource]="clientes" style="width: 100%;">
<ng-container matColumnDef="nome">
    <!--Coluna nome-->
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let cliente">{{cliente.nome}}</td>
</ng-container >
<ng-container matColumnDef="cpf">
    <!--Coluna nome-->
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let cliente">{{cliente.cpf}}</td>
</ng-container >
<ng-container matColumnDef="acoes">
    <!--Coluna nome-->
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let cliente">
        <button mat-button (click)="editar(cliente)">
            <mat-icon >edit</mat-icon>
        </button>
        <button mat-button (click)="excluir(cliente.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
</ng-container >
<tr mat-header-row *matHeaderRowDef="colunas"></tr>
<tr mat-row *matRowDef="let row;columns:colunas"></tr>
</table>

<button mat-fab (click)="novo()" color="primary" class="fab">
<mat-icon>
    add
</mat-icon>
</button>

<div *ngIf="cliente">
    <mat-form-field class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="cliente.nome">
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>CPf</mat-label>
        <input matInput [(ngModel)]="cliente.cpf">
    </mat-form-field>
  
  
    <br>
    
    <button color="primary" mat-raised-button (click)="salvar()">Salvar</button>
</div>